
@font-face {
    font-display: swap; 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src:local('Raleway') url('../fonts/raleway-v28-latin-regular.woff2') format('woff2'), 
         url('../fonts/raleway-v28-latin-regular.woff') format('woff'); 
  }
  @font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src:local('Raleway') url('../fonts/raleway-v28-latin-800.woff2') format('woff2'), 
         url('../fonts/raleway-v28-latin-800.woff') format('woff'); 
  }

@font-face {
    font-display: swap; 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway')url('../fonts/raleway-v28-latin-regular.woff2') format('woff2'), 
         url('../fonts/raleway-v28-latin-regular.woff') format('woff');
  }
  
  @font-face {
    font-display: swap; 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src:local('Raleway') url('../fonts/raleway-v28-latin-800.woff2') format('woff2'), 
         url('../fonts/raleway-v28-latin-800.woff') format('woff'); 
  }
  
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), 
        url('../fonts/roboto-v30-latin-regular.woff') format('woff'); 
  }
 
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), 
         url('../fonts/roboto-v30-latin-500.woff') format('woff'); 
  }
 
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), 
         url('../fonts/roboto-v30-latin-700.woff') format('woff'); 
  }
  
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-900.woff') format('woff'); 
  }
  :root{
    --main-color-title:#2E2F42;
    --main-color-description:#434455;
    --secondary-color:#E7E9FC;
    --primary-button-color:#404BBF;
    --lead-color: #FFF;
    --logo-color: #4D5AE5;
    --shadow-color: #F4F4FD;
  }
  body{
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   line-height: 1.5;
   font-weight: 400;
   background-color: var(--lead-color);
   color: var(--main-color-description);
   letter-spacing: 2%;  
  }
  .site-nav .link{
    font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
color: var(--main-color-title);
  }
  .link:hover {color: var(--primary-button-color);
    text-decoration: underline;} 
  .site-nav:hover {color: var(--primary-button-color);
    text-decoration: underline;}
  .link:focus {color: var(--primary-button-color);
    text-decoration: underline;}
  .site-nav:focus {color: var(--primary-button-color);
  text-decoration: underline;}
  .link-nav{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color-description); 
  }
  .link-nav:hover { color: var(--primary-button-color);
    text-decoration: underline}
  .link-nav:focus { color: var(--primary-button-color);
    text-decoration: underline}
  .studio-name{
    font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.3;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-color-title);
  }
  .studio-name:hover{color:  var(--primary-button-color);
    text-decoration: underline;}
  .studio-name:focus{color:  var(--primary-button-color);
    text-decoration: underline;}
    a {text-decoration: none;
      font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }

  .logo{ 
    color: var(--logo-color);
    ;
  }
  ul{
    list-style: none;
  }
  .title{
    font-family: 'Roboto';
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--main-color-title);
  }
  .main-title{
    font-family: 'Roboto';
font-weight: 700;
font-size: 56px;
line-height: 1;
text-align: center;
letter-spacing: 0.02em;
color: var(--lead-color);
  }
  .main-content{
    background-color: var(--main-color-title);  
  }
  .service{
    color: var(--lead-color);
    background: var(--logo-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
  }
  .service:hover{
    background: var(--primary-button-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
  }
  .advant-title{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color-title);  
  }
  .advant-description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color-description);
  }


  .activity{
    font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color:var(--main-color-title);
  }
  .our-team{
    background-color: var(--shadow-color);
  }
  .hero-title .project-title{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color-title);     
  }
 .hero-position .project-description{font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color-description);
    }
    .hero-card{
      background: var(--lead-color);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
    }
    .project-card{
      box-sizing: border-box;
      background: var(--lead-color);
      border: 1px solid var(--secondary-color);
      background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(pexels-photo-7262897.jpg);
background-blend-mode: soft-light, normal;
mix-blend-mode: normal;
    }
   
    footer{
      background-color:var(--main-color-title);
    }
    .name{
      font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.2;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--shadow-color);
    }
    .motto{
      font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em; 
color: var(--secondary-color);
}
    .button-list{
      font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--logo-color);
      box-sizing: border-box;
background: var(--shadow-color);
border: 1px solid var(--secondary-color);
border-radius: 4px;
cursor: pointer;
    }
.button-list:hover{
  color: var(--lead-color);
  background: var(--primary-button-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px
}